{% extends 'base.html.twig' %}

{% block title %}DatasStorm{% endblock %}
{% block body %}
    <script>
        window.user = {{ user|raw }};
    </script>
    <div class="wrapper" id="app">
        <app></app>
    </div>
{% endblock %}
